@media screen and (max-width:576px) {

    /* header-section */
    nav .logo-left-content, 
    nav .navbar-middle-content, 
    nav .btn-1{
        display: none;
    }
    nav .btn-group .fa-solid{
        display: block;
        margin-right: 20px;
    }
    hr{
        display: block;
    }
    /* banner-section */

    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-title{
        font-size:2rem;
        line-height:auto;
    }
    .banner-content p{
        font-size: 1rem;
    }
    /* curriculum section */
    .curriculum-group{
        flex-direction: column;
    }
    .arrow-group{
        display: none;
    }


    
}